@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.colorBurn {
  mix-blend-mode: color-burn;
}

.project {
  @include flex-column;
}
.height:first-child {
  max-height: 400px;
}

.badge {
  height : 40px;
}
.link {
  text-decoration: none;
}