@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.project {
    position: relative;
    .content {
        @include flex-column;
        position: absolute;
        left: 2rem; 
        bottom: 2rem;
        gap: 1rem; 
    }
}
