@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.footer {
  background-color: black;
  color: white;
  padding : 2rem;
}
.container {
  margin: auto;
  width: 500px;
}
.title {
  @include h2
}
.message {
  @include fonts(primary, 1.5rem, 600, primary-text);
  margin-top : 0.5em;
}


