@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.landing {
  min-height: 100vh;
  @include flex-column;
  justify-content: space-between;
  .header {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    @include flex-center;
    gap: 1em;
    margin-left: 1em;
    margin-top: 0.5em;
    padding: 0.2em 1.618em;
    border-radius: 2em;
    .svg {
    }
  }
  .nav {
    display: flex;
  }
  .ul {
    display: flex;
  }
  .li {
    padding: 10px 20px;
  }
  .a {
    color: black;
  }
  .container {
    display: flex;
    margin-inline: 2em;
  }
  .col {
    @include flex-column;
    flex-basis: 50%;
  }
  .h1 {
    @include fonts(secondary, 6rem, 900, black);
    line-height: 5rem;

  }
  .h2 {
    @include fonts(secondary, 2rem, 600);
    letter-spacing: 1px;
    line-height: 2em;
  }
  .cta {
    align-self: center;
    background-color: black;
    padding: 10px;
    margin-top: 2em;
    width: 40%;
    color: white;
  }
  .anchor {
    @include flex-column;
    align-self: center;
  }
}
