@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.header {
  position: absolute;
  top: 0;
  display: none;
  right: -100%; /* Initialisez l'en-tête en dehors de la fenêtre */
  background-color: #e9ecef;
  transition: transform 0.3s ease-in-out; /* Ajoutez la transition pour 'right' */
}

.header--active {
  display: flex;
  right: 0; /* Déplacez l'en-tête vers la gauche pour le faire apparaître */
}

.hamburger {
  position: absolute;
  top: 0;
  right: 2rem;
  z-index: 10;
  aspect-ratio: 1;
  width: 50px;
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
}

.hamburger--active {
  transform: rotate(180deg);
}

.links {
  display: flex;
  gap: 2em;
  padding-right: 2rem;
  padding-top: 15rem;
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;
  }
  .navbar {
    position: relative;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .links {
    position: relative;
    width: fit-content;
    padding-top: 0;
  }

  .links > * {
    text-align: center;
  }
}
