@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

:root {
    --dot-size: 25px;
    --dot-size-small: 12px;
    --circle-size: 180px;
    --circle-size-small: 150px;
    --item-size: 75px;
    --item-size-small: 50px;
    --skill-text : "ok"
}

$Animation-timing: 100s;
@keyframes rotateCircle {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.circle {
    @include flex-center;
    position: relative;
    aspect-ratio: 1;
    margin: auto;
    width: var(
        --circle-size
    ); // Utilise la variable pour la taille du cercle
    &::before {
        @include pseudo($pos: absolute);
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: dashed 3px black;
        animation: rotateCircle $Animation-timing linear
            infinite;
    }
}

.before {
    position: absolute;
    width: fit-content;
}
.item {
    overflow: hidden;
    background-color: white;
    width: var(--item-size);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: contain;
    &__image {
        object-fit: contain
    }
}
.before:not(:nth-child(4))::before {
    position: absolute;
    top : -50%;
    left : 0;
    font-size: 2rem;
    content: var(--skill-text);
    left : 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Orbitron', monospace;
    font-size: 1rem;
}
.before:is(:nth-child(4))::before {
    position: absolute;
    bottom : -25%;
    left : 0;
    font-size: 1rem;
    font-family: 'Orbitron', monospace;
    text-transform: uppercase;
    content: var(--skill-text);
    left : 50%;
    transform: translate(-50%, 50%);
}

.before:has(.item__one) {
    left : 0;
    transform: translate(-50%, -50%);
}

.before:has(.item__two) {
    right : 0;
    transform: translate(50%, -50%);
}

.before:has(.item__three) {
    bottom : 0;
    transform: translate(0, 50%);
}

.item__last {
    bottom: 0;
}



.circle.small {
    width: var(--circle-size-small);
    .dot {
        padding: var(--dot-size-small);
    }
    .item {
        width: var(--item-size-small);
    }
}

.dot {
    border-radius: 50%;
    padding: var(--dot-size);
    background-color: black;
}
